modules = ["nodejs-20", "web"]

[nix]
channel = "stable-25_05"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 5000
externalPort = 5000

[workflows]
runButton = "Start Chat App Fixed"

[[workflows.workflow]]
name = "Start Chat App"
author = 46064688
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node index.js"

[[workflows.workflow]]
name = "Start Chat App Fixed"
author = 47276591
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pkill -f \"node index.js\" || true"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=5000 node index.js"

[agent]
expertMode = true
